# Image utilities
opencv-contrib-python
pillow
pytesseract
imutils


# Tensor processing
numpy


# Machine Learning
keras
tensorflow
sklearn


# HTML parsing
beautifulsoup4


# Web server
flask
flask-cors


# Evaluation metric
editdistance


# Visualization
matplotlib